body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: rgb(220, 239, 255);
}

/* background of the city */
.section1 {
    background-image: url("./images/marianna-smiley-y3BBVEpMl4E-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

/* here from line 50 is the mostly things in nav if needed to be edited */
#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100vw;
    height: 100px;
    border-bottom: 2px solid #000000;
    margin-bottom: 60px;
}

.navleft h1 {
    display: flex;
    padding-left: 20px;
    font-size: 50px;
}

.navleft{
    width: 75%;
}

.navright {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.logo {
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#bio {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    align-items: center;
    margin-top: -50px;
}

.desc-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 10%;
}

.baylor {
    width: 25%;
}

.maindesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    width: 100%;
    justify-content: center;
}

.maindesc h2 {
    margin-top: 0;
}

.maindesc p {
    width: 50%;
    text-align: center;
    margin-top: -20px;
}

.maindesc .pin {
    width: 25px;
    height: 25px;
}

.bae {
    width: 200px;
    height: 200px;
    background: url(bae.jpg);
    border-radius: 50%;
    justify-content: left;
}

.section1footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30%;
}

#directionleft {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 1%;
}

.directionright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-right: 1%;
}

.section1footer a {
    color: white;
    text-decoration: none;
}

/* from here to line 165 it uses borders to make some boxes around some a tags */
.section1footer .circle {
    width: 180px;
    height: 180px;
    border: 3px solid #FFFFFF;
    border-radius: 150px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectstease {
    width: 274px;
    height: 195px;
    display: flex;
    border: 3px solid white;
    box-sizing: border-box;
    margin-right: 30px;
}

.section1footer .square {
    width: 200px;
    height: 195px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section2 {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 10%;
    margin-top: 15%;
}

.aboutmesec {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#more {
    color: grey;
}

#about-me {
    margin-top: 0px;
}

.more {
    margin-top: -10px;
    font-size: smaller;
    color: gray;
}

/* need to add resume once its created */
.resumebutton {
    margin-top: -30px;
}


.baylorsresume {
    border: solid black 1px;
    color: white;
    text-align: center;
    background-color: rgb(86, 184, 216);
    border-radius: 4px;
    box-sizing: border-box;
    width: 20%;
    font-size: 12px;
}

.extras p {
    margin-top: -30px;
}


.fbend {
    display: flex;
    justify-content: flex-start;
}

.fbtitleright {
    margin-left: 25px;
}

.frontbackiconsec {
    display: flex;
    align-items: flex-start;
    margin-left: 18px;
}

.fbicon {
    display: flex;
    width: 25px;
    height: 25px;
}

.section3 {
    background-color: #282c34;
}

.fprojects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured-projects {
    font-size: 60px;
    color: lightskyblue;
}

.projectsdesc {
    font-size: 20px;
    margin-top: -40px;
    color: white;
}


.projectstuff {
    display: flex;
    width: 100vw;
}

.projectstuff a {
    display: flex;
    justify-content: center;
}

.projectwrapleft {
    display: flex;
    flex-direction: column;
}

.projectwrapright {
    display: flex;
    flex-direction: column;
}

.projectimg {
    width: 90%;
    padding: 5%;
}

@media screen and (max-width: 992px) {
    .navleft h1 {
        font-size: 35px;
    }

    /* logo becomes smaller after screen collapses to a certain px same for .bae */
    .logo {
        width: 35px;
        height: 35px;
    }
    
    .desc-container {
        color: white;
    }

    .location {
        font-size: x-large;
    }

    .bae {
        width: 150px;
        height: 150px;
        background: url(bae.jpg);
        border-radius: 50%;
    }

    .desc-contaner p {
        font-size: 25px;
    }

  }
